<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide
    ><img src="images/slider1.jpg" alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img src="images/slider2.jpg" alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img src="images/slider3.jpg" alt="" /></ng-template
  ><ng-template carouselSlide
    ><img src="images/slider4.jpg" alt=""
  /></ng-template>
  <ng-template carouselSlide
    ><img src="images/slider5.jpg" alt="" /></ng-template
  ><ng-template carouselSlide
    ><img src="images/slider6.jpg" alt="" /></ng-template
  ><ng-template carouselSlide
    ><img src="images/slider7.jpg" alt="" /></ng-template
  ><ng-template carouselSlide
    ><img src="images/slider8.jpg" alt=""
  /></ng-template>
</owl-carousel-o>
