@if (controls?.touched &&controls?.errors&&!controls?.get('rePassword')) {
<div
  class="bg-red-100 border border-red-400 text-red-700 my-3 px-4 py-3 rounded relative"
>
  <ul class="list-disc pl-7">
    @if (controls?.getError('required')) {
    <li>Input is required</li>
    } @if (controls?.getError('minlength')) {
    <li>Input must be at least 3 characters long.</li>
    } @if (controls?.getError('maxlength')) {
    <li>Input must not exceed 20 characters.</li>
    } @if (controls?.getError('email')) {
    <li>Please enter a valid email address</li>
    } @if (controls?.getError('pattern')) {
    <li>At least one upper case English letter</li>
    <li>At least one lower case English letter</li>
    <li>At least one digit</li>
    <li>At least one special character</li>
    <li>Minimum 8 in length</li>
    }
  </ul>
</div>
} @if (controls?.getError('mismatch')&& controls?.get('rePassword')?.touched) {
<div
  class="bg-red-100 border border-red-400 text-red-700 my-3 px-4 py-3 rounded relative"
>
  <ul class="list-disc pl-7">
    <li>Password do not match.</li>
  </ul>
</div>
}
