<section class="my-10 mt-8">
  <div class="max-w-2xl mx-auto shadow border border-gray-100 rounded-2xl p-6">
    <h2 class="mb-5 text-2xl">Login:</h2>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      @let emailControl = authForm.get('email')?.touched
      &&authForm.get('email')?.invalid;
      <div class="mb-5">
        <input
          type="email"
          id="email"
          formControlName="email"
          [class]="{
            'bg-red-50': emailControl,
            border: emailControl,
            'border-red-500': emailControl,
            'text-red-900': emailControl,
            'focus:ring-red-900': emailControl
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:-ring--main-color block w-full p-2.5 placeholder-gray-400 focus:-border--main-color my-4"
          placeholder="Enter Your Email.."
        />

        <validation-messages [controls]="authForm.get('email')" />
      </div>
      @let passwordControl = authForm.get('password')?.touched &&
      authForm.get('password')?.invalid;
      <div class="mb-5">
        <input
          [class]="{
            'bg-red-50': passwordControl,
            border: passwordControl,
            'border-red-500': passwordControl,
            'text-red-900': passwordControl
          }"
          [type]="isShowPassword ? 'password' : 'text'"
          id="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:-ring--main-color block w-full p-2.5 placeholder-gray-400 focus:-border--main-color my-4"
          placeholder="Enter Password.."
        />
        <validation-messages [controls]="authForm.get('password')" />
      </div>

      <button
        type="button"
        (click)="showPassword()"
        class="-bg--main-color text-white rounded-lg transition duration-300 text-sm py-2 px-3 text-center hover:-bg--main-color/80"
      >
        Show Password
      </button>
      <!-- ----------------------------------------------------- -->

      <button
        [disabled]="authForm.invalid || !isLoading"
        [class.bg-gray-300]="authForm.invalid || !isLoading"
        [class.hover:bg-gray-300]="authForm.invalid || !isLoading"
        class="-bg--main-color text-white px-8 py-2 rounded-lg w-full transition duration-300 translate-y-full text-lg text-center items- hover:-bg--main-color/80"
      >
        @if (isLoading) { Login } @else {
        <svg
          aria-hidden="true"
          role="status"
          class="inline w-4 h-4 me-3 text-white animate-spin"
          viewBox="0 0 100 101"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="#E5E7EB"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor"
          />
        </svg>
        Loading... }
      </button>

      <!-- -------------------------------------------------------------------------------- -->

      <!-- -------------------------------------------------------------------------------- -->

      @if (resMsg) {
      <div
        class="p-4 mt-14 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        {{ resMsg }}
      </div>
      } @else if (resMsgSuccess) {
      <div
        class="p-4 mt-14 mb-4 text-sm text-green-900 rounded-lg bg-green-50"
        role="alert"
      >
        {{ resMsgSuccess }}
      </div>
      }
    </form>
  </div>
</section>
