<section class="my-16 px-16">
  <div class="container mx-auto">
    <div class="grid sm:grid-cols-12">
      <div class="sm:col-span-4">
        <img [src]="productDetails.imageCover" class="w-full" alt="" />
      </div>
      <div class="sm:col-span-8 mx-10">
        <h1 class="text-4xl font-bold">{{ productDetails.title }}</h1>
        <p class="my-5">{{ productDetails.description }}</p>
        <button
          class="-bg--main-color text-white px-8 py-2 rounded-lg w-full my-3 hover:-bg--main-color/80 transition duration-300 translate-y-full"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</section>
