<section class="mt-10">
  <div class="bg-gray-100 py-20 px-10">
    <h3 class="text-2xl">Get the FreshCart app</h3>
    <p class="text-gray-600">
      We will send you a link, open it on your phone to download the app.
    </p>

    <div class="flex mt-5 mx-5 md:flex-row sm:flex-row flex-col gap-y-5">
      <input
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:-ring--main-color focus:-border--main-color block w-full p-2.5 py-0 h-12"
        placeholder="Email.."
        required
      />

      <button
        class="-bg--main-color text-white block px-8 rounded-lg md:w-80 sm:w-full mx-10 hover:-bg--main-color/80 transition duration-300"
      >
        Share App Link
      </button>
    </div>
    <div
      class="flex w-full justify-between items-center mt-10 border-t-2 border-b-2 border-gray-200 p-6"
    >
      <div>
        <p class="inline-block pe-3">Payment Partners</p>
        <img src="images/footerImg.png" class="inline-block" alt="" />
      </div>
      <div>
        <p class="inline-block pe-3">Get deliveries with FreshCart</p>
        <img src="images/footerImg2.png" class="inline-block" alt="" />
      </div>
    </div>
  </div>
</section>
